/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */
html{
  font-size: 20px;
}

/* ------------------------------------------ */
/* ---------GLOBAL REUSABLE COLORS---------- */
/* ----------------------------------------------- */
:root {
  --primaryOrangeColor:#e67e22;
  --secondaryOrangeColor: #cf6d17;
  --mainWhite: #fff;
}


/* ---------------------------------------- */
/* HEADER*/
/* ---------------------------------------- */
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */


/* --------------HEADING------------------- */
h1{
  color: var(--mainWhite);
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin-bottom: 20px;
}

/* ------------BUTTONS------------------------- */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: var(--primaryOrangeColor);
  border: 1px solid var(--primaryOrangeColor);
  color: var(--mainWhite);
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid var(--primaryOrangeColor);
  color: var(--primaryOrangeColor);
}

.btn:hover,
.btn:active {
  background-color: var(--secondaryOrangeColor);
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid var(--secondaryOrangeColor);
}

.btn-ghost:hover,
.btn-ghost:active{
  border: 1px solid var(--secondaryOrangeColor);
  color: var(--mainWhite);
}